*{
    margin: 0;
    padding: 0;
}

.app{
    width: 100%;
    height: 120vh;
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
}

.btn-div{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    margin-top: 6rem;
}
.btn{
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
    border: none;
}

.btn1{
    background: linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
}
.btn2{
    background: linear-gradient(90deg, hsla(14, 90%, 73%, 1) 0%, hsla(331, 54%, 44%, 1) 100%);
}